<ng-container *ngIf="audioPanelView$ | async as audioPanel">
    <button
        [disabled]="!audioPanel.user.actions.isConnectAvailable"
        (click)="onConnect()"
        nz-button
        nzType="primary"
        nzBlock
    >
        Connect
    </button>
    <button
        [disabled]="!audioPanel.user.actions.isRegisterAvailable"
        (click)="onRegister()"
        nz-button
        nzType="primary"
        nzBlock
    >
        Register
    </button>
    <button
        [disabled]="
            !audioPanel.user.actions.isCallAvailable ||
            !audioPanel.participants[0]
        "
        nz-button
        nzType="primary"
        nzBlock
        (click)="onCall(audioPanel.participants[0]?.uri)"
    >
        Call
    </button>
    <button
        [disabled]="!audioPanel.user.actions.isAcceptCallAvailable"
        nz-button
        nzType="primary"
        nzBlock
        (click)="onAccept(audioPanel.invitation)"
    >
        Accept
    </button>
    <button
        [disabled]="!audioPanel.user.actions.isRejectCallAvailable"
        nz-button
        nzType="primary"
        nzBlock
        (click)="onReject(audioPanel.invitation)"
    >
        Reject
    </button>
    <button
        [disabled]="!audioPanel.user.actions.isMuteAvailable"
        nz-button
        nzType="primary"
        nzBlock
        (click)="onMute(audioPanel.invitation || audioPanel.session, true)"
    >
        Mute
    </button>
    <button
        [disabled]="!audioPanel.user.actions.isUnMuteAvailable"
        nz-button
        nzType="primary"
        nzBlock
        (click)="onMute(audioPanel.invitation || audioPanel.session, false)"
    >
        UnMute
    </button>
    <button
        [disabled]="!audioPanel.user.actions.isHoldAvailable"
        nz-button
        nzType="primary"
        nzBlock
        (click)="onHold(audioPanel.invitation || audioPanel.session, true)"
    >
        Hold
    </button>
    <button
        [disabled]="!audioPanel.user.actions.isUnHoldAvailable"
        nz-button
        nzType="primary"
        nzBlock
        (click)="onHold(audioPanel.invitation || audioPanel.session, false)"
    >
        UnHold
    </button>
    <button
        [disabled]="!audioPanel.user.actions.isHangUpAvailable"
        nz-button
        nzType="primary"
        nzBlock
        (click)="onHangUp(audioPanel.invitation || audioPanel.session)"
    >
        Hang Up
    </button>
    <button
        [disabled]="!audioPanel.user.actions.isUnregisterAvailable"
        (click)="onUnregister()"
        nz-button
        nzType="primary"
        nzBlock
    >
        Unregister
    </button>
    <button
        [disabled]="!audioPanel.user.actions.isDisconnectAvailable"
        (click)="onDisconnect()"
        nz-button
        nzType="primary"
        nzBlock
    >
        Disconnect
    </button>
</ng-container>
