<div style="margin: 20px;">
    <nz-tabset nzLinkRouter>
        <nz-tab>
            <a *nzTabLink nz-tab-link [routerLink]="['.', 'chat']">Chat</a>
            <movius-web-chat-page></movius-web-chat-page>
        </nz-tab>
        <!--
        <nz-tab>
            <a *nzTabLink nz-tab-link [routerLink]="['.', 'audio']">Audio</a>
            <movius-web-audio-page></movius-web-audio-page>
        </nz-tab>
        <nz-tab>
            <a *nzTabLink nz-tab-link [routerLink]="['.', 'multi-audio']"
                >Multi Audio</a
            >
            <movius-web-multi-audio-page></movius-web-multi-audio-page>
        </nz-tab>
        <nz-tab>
            <a *nzTabLink nz-tab-link [routerLink]="['.', 'video']">Video</a>
            <movius-web-video-page></movius-web-video-page>
        </nz-tab>
    -->
    </nz-tabset>
</div>
